@page "/"

<h1>Hello, world!</h1>

<button class="btn btn-primary" @onclick="ShowAlert">Open Alert</button>
<br/>
<button class="btn btn-primary" @onclick="ShowConfirm">Open Confirm</button>
<br />
<button class="btn btn-primary" @onclick="ShowActionSheet">Open ActionSheet</button>
<br />

@code
{
    private async Task ShowAlert()
    {
        await Application.Current.MainPage.DisplayAlert("Estás a gostar?", "O que achas do Blazor Hybrid", "Com certeza");
    }

    private async Task ShowConfirm()
    {
        var result = await Application.Current.MainPage.DisplayAlert("Confirmação", "Estás mesmo a gostar?", "Sim", "Não");
        await Application.Current.MainPage.DisplayAlert("Alert", $"Resultado: {result}", "Fechar");
    }

    private async Task ShowActionSheet()
    {
        var result =  await Application.Current.MainPage.DisplayActionSheet("Quanto?", "Cancel", null, "Muito", "Bastante");
        await Application.Current.MainPage.DisplayAlert("ActionSheet", $"Resultado: {result}", "Fechar");
    }
}
